@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-semibold";
  src: url("/fonts/Gilroy/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-Gilroy: "Gilroy", "sans-serif";
  --font-Gilroy-medium: "Gilroy-medium", "sans-serif";
  --font-Gilroy-semibold: "Gilroy-semibold", "sans-serif";
  --font-Gilroy-bold: "Gilroy-bold", "sans-serif";
}
